.header{
    width: 90%;
    height:190px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
    border-radius: 8px;
}
.header h2{
    color: #fff;
    font-weight: bold;
}