.course-card{
    display: flex;
    margin: 12px;
    padding: 22px;
    border-radius: 8px;
    box-shadow: 0 1px 6px #ccc;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
   
}

.cover{
    width: 240px;
    height: 146px;
    overflow:hidden;
border-radius: 6px;
    margin-right: 2rem;
}
.cover > img{
object-fit: cover;
width: inherit;
height: inherit;
}
.details .info{
   display: none;
}
.details .actions button{
    border: none;
    outline: none;
    padding: 8px 22px;
    background-color:black;
    color: #fff;
    cursor: pointer;

}